<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
</head>
<body>
  <h1>pay fine first</h1>
  
    <form action="payment" method="post">
        <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button";
        data-key="<%=key%>"
        data-amount="120"
        data-currency="usd"
        data-name=yogesh
        data-description="sgsjl"
        Data-locale="auto">
        </script>

    </form>
   
</body>
</html>

